body {
	color: white;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

html,
main {
	height: calc(100% - 0.5rem);
	width: calc(100% - 0.5rem);
	overflow: hidden;
	top: 0.25rem;
	left: 0.25rem;
}

#panel {
	background-color: #c0c0c033;
	display: flex;
	flex-direction: column;
	height: 90%;
	width: 30%;
	justify-content: start;
}

/* #idle-time-progress { */
/*     width: 100%; */
/*     /* color: #15141aff; */
/*     font-size: 1.25rem; */
/*     line-height: 2; */
/* } */

#footer {
	margin-top: auto;
	margin-left: 10px;
}

/* #title { */
/*     color: #ffffff; */
/*     text-align: center; */
/*     padding-top: 10px; */
/*     border-bottom: 1px solid #a8a8a8; */
/*     display: flex; */
/*     flex-direction: row; */
/*     justify-content: space-evenly; */
/*     align-items: center; */
/* } */
/**/
/* #buttons { */
/*     display: flex; */
/*     flex-direction: row; */
/*     justify-content: center; */
/*     gap: 20px; */
/*     padding-top: 20px; */
/*     padding-bottom: 20px; */
/* } */
/**/
/* .color-button { */
/*     width: 50px; */
/*     height: 50px; */
/*     border-radius: 3px; */
/* } */
/**/
/* .color-button:hover { */
/*     box-shadow: 0px 0px 1px #c1c1c1; */
/* } */
/**/
/* .color-button:active { */
/*     box-shadow: 0px 0px 5px #c1c1c1; */
/* } */
/**/
/* #button-red { */
/*     background-color: red; */
/* } */
/**/
/* #button-green { */
/*     background-color: green; */
/* } */
/**/
/* #button-blue { */
/*     background-color: blue; */
/* } */
/**/
/* .spin-box { */
/*     width: 50px; */
/*     height: 50px; */
/*     animation: spin 4s infinite linear; */
/* } */
/**/
/* @keyframes spin { */
/*     from { */
/*         transform: rotate(0deg); */
/*     } */
/**/
/*     to { */
/*         transform: rotate(360deg); */
/*     } */
/* } */
/**/
/* #translation-speed-control, */
/* #rotation-speed-control { */
/*     display: flex; */
/*     flex-direction: row; */
/*     align-items: start; */
/*     padding: 20px; */
/*     gap: 10px; */
/* } */
/**/
/* #rotation-display { */
/*     display: flex; */
/*     flex-direction: row; */
/*     align-items: start; */
/*     padding: 20px; */
/*     gap: 10px; */
/* } */
/**/
/* .bevy-display { */
/*     background-color: #444; */
/*     border: 2px solid #666; */
/*     border-radius: 4px; */
/*     color: #ffffff; */
/*     font-size: 16px; */
/*     font-weight: bold; */
/*     text-align: center; */
/*     padding: 4px 10px; */
/*     min-width: 200px; */
/*     display: inline-block; */
/*     vertical-align: middle; */
/*     line-height: 1.4; */
/*     overflow: hidden; */
/*     text-overflow: ellipsis; */
/*     white-space: nowrap; */
/*     max-width: 100%; */
/*     box-sizing: border-box; */
/*     top: -8px; */
/* } */
/**/
/* input[type="number"] { */
/*     width: 3em; */
/*     height: 1.5em; */
/*     line-height: 1.5em; */
/*     background: #444; */
/*     border: 2px solid #666; */
/*     border-radius: 4px; */
/*     color: #ffffff; */
/*     font-size: 16px; */
/*     font-weight: bold; */
/*     text-align: center; */
/*     padding: 0 10px; */
/*     outline: none; */
/*     margin-left: 1%; */
/*     top: -4px; */
/* } */
